@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Open Sans';
}

html {
    font-size: 12px;
}

body {
    background-image: url(../img/background_body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0px;
}

header {
    background-color: #ffc0cb;
    display: flex;
    position: fixed;
    width: 100%;
    height: 120px;
    left: 0px;
    top: 0px;    
    gap: 20px;
}

.logo img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 10px;
    width: 240px;
    height: 100px;
    left: 10px;
    top: 0px;
    background: #C4C4C4;
    border: 1px solid #000000;
    border-radius: 36px;    
}

nav {
    display: flex;
    flex: auto;
    justify-content: space-evenly;
    align-items: center;
}

ul.menu {
    display: flex;
    list-style-type: none;
    flex: auto;
    justify-content: space-evenly;
}

ul.menu a {
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 36px;
    background-color: #3a3aee;
    width: 65px;
    height: 28px;
    left: 621px;
    top: 92px;
    padding: 10px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}

.banner {
    display: flex;
    justify-content:space-between;
    align-items: center;    
    border: 1px solimg id #000;
    border-radius: 36px;    
    padding: 10px;
    height: 100vh;
    width: 100vw;
}

.banner img {
    display: flex;
    width: 100vw;
    margin: 150px 150px auto;
}

.banner .paragrafo p {
    display: flex;
    text-align: justify;
    line-height: 20px;
    font-size: 14px;
    font-weight: bolder;
    padding: 10px;
    color: #000;
    border: 1px solid #000;
    border-radius: 36px;    
}

section#curiosidades {
    font-family: 'Roboto';
    text-align: center;
}

#curiosidades h1 {
    color: #000;
    font-weight: bolder;
}

#curiosidades h3 {
    text-align: center;
    color:#fff;
    gap: 10px;
    padding: 10px;
}

.cards {
    display: flex;
    text-align: justify;
    justify-content: space-around;
    gap: 20px;
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 36px;    
}

.card1, .card2, .card3  {
    width: 335px;
    height: 534px;
    left: 123px;
    top: 922px;
    padding: 10px;
    margin: 10px;
    background: #3a3aee;
    border-radius: 31px;    
}

.cards .card1 img {
    width: 100%;
    padding: 0px;
    border-radius: 36px;
}

.cards .card2 img {
    width: 100%;
    height: 240px;
    padding: 0px;
    border-radius: 36px;
}
    
.cards .card3 img {
    width: 100%;
    height: 240px;
    padding: 0px;
    border-radius: 36px;
}

.card3 p a {
    text-decoration: none;
    color: #e71515;
}

.card1, .card2, .card3 p {
    font-size: 14px;
    padding: 10px;
    color: #fff;
}

section#video {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #000;
    gap: 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 31px;
}

section#video h1 {
    text-align: center;
}

section#video a {
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: #000;
}

footer {
    gap: 20px;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #000000;
    border-radius: 36px;
    background-color: #ffc0cb;
}

footer a {
    border: 1px solid #000000;
    border-radius: 36px;
    background: #3a3aee;
}

footer a img {
    border-radius: 36px;
    background-color: #ffc0cb;
    padding: 5px;
    align-items: center;    
}

@media (min-width: 0px) and (max-width: 425px) {
    header {
      width: 100vw;
      background-color: #ffc0cb;
      flex-direction: column;
      gap: 20px;
      position:absolute;
    }
  
    nav {
      display: none;
    }  
  
   .logo img {
      display: flex;
      width: 80vw;
      margin: 10px auto;
      
    }

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .paragrafo p {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    #curiosidades h1 {
        margin-top: 130px;
    }
    .cards {
        display: block;
        background-color: #ffc0cb;
    }

    .card1, .card2, .card3 {
        margin: 10px auto;
    }
           
    .video {
        display: flex;
    }

    section#video {
        background-color: #ffc0cb;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 100vw;
    }

    footer a img {
       width: 10vw; 
    }
  }
  


































